@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import 'swiper/css';
  @import 'swiper/css/pagination';
  :root {
    --swiper-pagination-color: #31ee91;
    --swiper-pagination-bullet-inactive-color: #f5f5f5;
    --swiper-pagination-bullet-size: 12px;
  }
  body {
    @apply bg-aex-400;
  }
}
