@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import 'swiper/css';
  @import 'swiper/css/pagination';

  @font-face {
    font-family: 'Inter';
    font-weight: 100 900;
    font-display: fallback;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url('/fonts/Inter.woff2') format('woff2');
  }

  /* Width */
  ::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #110f19;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #322d53;
    border-radius: 100vh;
    border: 2px solid #31ee91;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a0aec0;
  }

  :root {
    --swiper-pagination-color: #31ee91;
    --swiper-pagination-bullet-inactive-color: #f5f5f5;
    --swiper-pagination-bullet-size: 12px;
  }
  body {
    @apply bg-aex-400;
  }
}
